/*==========================================================
  Media Queries
==========================================================*/
@media (max-width: 992px) {

    /* para las tablets */
    .medio {
        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .hero h2 {
        font-size: 2.2rem;
    }

    .medio {
        padding: 4rem 0;

        .row {
            flex-direction: column;
        }

        .col-md-6:first-child {
            margin-bottom: 2rem;
        }

        img {
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 1.8rem;
        }

        p {
            font-size: 0.95rem;
        }
    }
}
